<%- include("partials/head")%>


    <%- include("partials/navbar")%>
        <!-- To use JS we need to use <%=//JS goes here  %> -->
        <h1>The home Page <%= "Hello bitshec" .toUpperCase() %>
        </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, illo voluptatem iusto quibusdam
            qui, quod
            facere sed suscipit similique nesciunt laborum officiis aliquam totam veniam facilis nisi ratione ipsum
            reprehenderit!</p>
        <h2>Well, how do you know me? </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, magnam voluptates mollitia quaerat
            deleniti
            provident rem veniam. Nesciunt, a inventore. Est culpa eos repudiandae fugiat minima expedita
            voluptatibus, quam
            deserunt?
            Explicabo eaque fugiat ab. Rem quae hic quos eos libero quaerat quas similique quis doloremque?
            Quisquam,
            debitis culpa! Consequuntur ex labore sit maiores omnis, cumque impedit expedita ducimus rerum in?</p>
        <%- include("partials/footer")%>